.auto_eight {
  margin: 0 auto;
  width: 80%;
  height: @eight_height;
}

.auto_ten {
  margin: 0 auto;
  width: 100%;
}

.left-eight {
  width: 80%;
  float: left;
}

.right-two {
  width: 20%;
  float: right;
}

.formEle_container {
  margin: 0 auto;
  margin-top: @top_distance;
}