@eight_height : 100%;
@seven_height : 100%;
@left_eight_height : auto;
@left_five_height : auto;
@left_three_height : auto;
@left_two_height : auto;
@right_two_height : auto;
@top_distance : auto;
@tab_container_height : auto;

.logo_container {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  color: white;
}

.auto_eight {
  margin: 0 auto;
  width: 80%;
  height: @eight_height;
}

.auto_ten {
  margin: 0 auto;
  width: 100%;
}

.auto_seven {
  margin: 0 auto;
  width: 70%;
  height: @seven_height;
}

.auto_six {
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.left-eight {
  width: 75%;
  height: @left_eight_height;
  display: inline-block;
}

.left-five {
  width: 45%;
  height: @left_five_height;
  display: inline-block;
}

.left-three {
  width: 30%;
  height: @left_three_height;
  display: inline-block;
}

.left-two {
  width: 18%;
  height: @left_two_height;
  display: inline-block;
}

.right-two {
  width: 20%;
  height: @right_two_height;
  display: inline-block;
}

.formEle_container {
  margin: 0 auto;
  margin-top: @top_distance;
}

.leftMenu_container {
  float: left;
  width: 13%;
  height: 60rem;
  background: #1a3223;
  overflow: hidden;
}

.holdTab_container {
  height: @tab_container_height;
  text-align: left;
}

.tabContent_container {
  border-top: 1px black solid;
  text-align : left;
  padding-top: 2rem;
}